.something{
    width: 250px;;
    margin: 20px;
    cursor: pointer;
    position: relative; 
}

.subscribe-btn{
    height: 36px;
    width: 105px;
    margin: 20px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: transform 250ms;
}

.subscribe-btn:hover{
    transform: translateY(-10px);
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 10px;
}



.subscribe-btn:active{
    background-color: black;
}


.join-btn {
    height: 36px;
    width: 65px;
    border: 1px solid blue;
    border-radius: 2px;  
    cursor: pointer;  

}

.tweet-btn {
    height: 36px;
    width: 65px;
    margin-left: 20px;
    border: none;
    border-radius: 18px;
    background-color: blue;
    color: white;
    font-weight: 200;
    cursor: pointer; 
}