body{
    height: 1000px;
    margin: 0;
    background-color: lightgray;
    margin-top: 70px;
    margin-left: 160px;

}

.nav{
    height: 50px;
    position: fixed;
    /* z-index: 1; */
    left: 0;
    top: 0;
    right: 0;
    /* color: white; */
    /* border: 1px solid lightgray; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    z-index: 1;
}

.left-section{
    /* background-color: lightblue; */
    /* width: 150px; */
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.yt-logo{
    height: 20px;
}

.middle-section{
    /* background-color: lightcoral; */
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 12px;
    font-size: 16px;
    border: 1px solid rgb(197, 195, 195);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.1);
    width: 0;
}

.search-bar::placeholder {
    font-size: 16px;
}

.search-btn{
    height: 36px;
    width: 66px;
    margin-left: -1px;
    margin-right: 10px;
}

.search-icon{
    height: 25px;
    padding-top: 4px;
}

.voice-search-btn{
    height: 36px;
    width: 36px;
    border-radius: 18px;
    border: none;
}

.last-section{
    /* background-color: lightgreen; */
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon{
    height: 30px;
    width: 30px;
}

.yt-app-icon{
    height: 30px;
    width: 30px;
}

.notification-icon{
    height: 30px;
    width: 30px;
}

.notification-container{
    position:relative;
    /* background-color: green; */
}

.notification-count{
    position: absolute;
    top:0;
    right: 0;
    background-color: rgb(196, 3, 3);
    color: white;
    border-radius: 10px;
    padding: 2px;
    font-size: 12px;
}

.profile-icon{
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

            /* Sidebar  section      */

.side-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    top:50px ;
    width: 150px;
    background-color: white;
}

.side-icons{
    height: 110px;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.side-icons:hover{
    background-color: rgb(236, 233, 233);
}

.side-icons img{
    height: 30px;
    margin-bottom: 4px;
}

.side-icons div{
    font-size: 10px;
    font-family: roboto;
    font-weight: 700;

}


                /* Body Video section  */

.video-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* background-color: lightpink; */
    column-gap: 10px;
    row-gap: 10px;
}

.individual-video{
    height: 200px;
    background-color: lightblue;
    position: relative;
}

.video-duration{
    background-color: black;
    color: white;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.video-thumbnails{
    width: 100%;
    height: 100%;
}

/* Footer  */

.footer{
    position: fixed;
    bottom: 0;
    left: 150px;
    right: 0;
    background-color: white;
    height: 100px;
    text-align: center;
}